<form class="was-validated">
  <div class="container" aria-hidden="true">
    <br>


    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Primer Nombre:</label>
          <br>
          <input type="text" value="{{this.infoCliente.cliente.primerNombre}}" disabled>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Segundo nombre:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.segundoNombre}}" disabled>
        </div>
      </td>
    </tr>


    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Primer apellido:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.primerApellido }}" disabled>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Segundo apellido:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.segundoApellido }}" disabled>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Telefono:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.telefono }}" disabled>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Direccion:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.direccion }}" disabled>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <div class="mb-3">
          <label class="form-label">Ciudad de residencia:</label>
          <br>
          <input type="text" value="{{ this.infoCliente.cliente.ciudadResidencia }}" disabled>
        </div>
      </td>
    </tr>

  </div>
</form>
